.bg-green {
    background-color: $green;
}

.bg-green-light {
    background-color: rgba(0, 130, 82, 0.8);
}

.bg-red {
    background-color: $red;
}

.bg-red-light {
    background-color: rgba(161, 0, 0, 0.6);
}

.bg-white {
    background-color: $white;
}

.bg-gray {
    background-color: rgb(237, 237, 237);
}

.red {
    color: $red;
}

.green {
    color: $green;
}

.white {
    color: $white;
}
