a {
    text-decoration: none;
    color: $black;

    &:hover {
        color: $green;
    }
}

h1, h2, h3, h4, h5 {
    font-family: $font-family__main;
}

h6, p {
    font-family: $font-family__normal;
}

h6 {
    font-weight: 800;
}