$green: rgb(0, 130, 82);
$white: white;
$black: black;
$red: rgb(161, 0, 0);

$green-dark: rgb(0, 102, 65);

$font-family__main: 'Courgette', cursive;
$font-family__secondary: 'Belanosima', sans-serif;
$font-family__normal: Arial, Helvetica, sans-serif;